{% extends 'base.html' %}

{% block title%}{{supplier.company}} -update {% endblock %}

{% block content %}

  {% include 'Component/page_title.html' with currentPage='Ανανέωση Πληροφοριών' %}
  {% include 'supplier/components/card_header.html' with currentHeader=supplier.company %}

  <div class="columns is-multiline mr-3 ml-3">
    <div class="column is-full-desktop is-full-tablet is-full-mobile">
      <div class="card">
        <div class="card-content">


            <form method="post" class="m-3">
              {% csrf_token %}
              <div class="field has-text-center mt-5">
                <div class="control">
                  <a href="{% url 'supplier:supplier-list' %}"
                     class="button is-danger mr-6">Aκύρωση</a>
                  <button class="button is-success ml-5" >Αποθηκευση</button>
                </div>
              </div>

               <h2 class="title is-5">Γενικά</h2>
                <hr>
              <div class="error">
                {% if form.errors %}
                  {% for field in form %}
                    {% for error in field.errors %}
                      <div class="notification is-danger">
                        {{ error }}
                      </div>
                    {% endfor %}
                  {% endfor %}
                {% endif %}
              </div>
              {{ form.as_table}}

            </form>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
