{% extends 'base.html' %}

{% block title%}Νέος Προμηθευτής{% endblock %}

{% block content %}

  {% include 'Component/page_title.html' with currentPage='Δημιουργία Προμηθευτη' %}
  {% include 'supplier/components/card_header.html' with currentHeader='Νέος Προμηθευτής' %}

  <div class="columns is-multiline mr-3 ml-3">
    <div class="column is-full-desktop is-full-tablet is-full-mobile">
      <div class="card">
        <div class="card-content">
          <form method="post">
            {% csrf_token %}
            <div class="field has-text-center mt-5">
              <div class="control">
                <a href="{% url 'supplier:supplier-list' %}" class="button is-danger mr-6">Aκύρωση</a>
                <button class="button is-success ml-5" >Αποθηκευση</button>
              </div>
            </div>
             <h2 class="title is-5">Δημιουργία Προμηθευτή</h2>
              {{ supplier_form.as_table}}
              <hr>
          </form>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
