### Python template
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage graphs
.tox/
.nox/
../.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/


# Translations
*.mo
*.pot

# Django stuff:
*.log
../.idea/
**/migrations/**

*/migrations/*
local_settings.py
db.sqlite3
db.sqlite3-journal


# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
design/_build/
../app-env/
# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
.python-version

# pdm
#   Similar to Pipfile.lock, it is generally recommended to include pdm.lock in version control.
#pdm.lock
#   pdm stores project-wide configurations in .pdm.toml, but it is recommended to not include it
#   in version control.
#   https://pdm.fming.dev/#use-with-ide
.pdm.toml

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
app/.env
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# excel
*.xlsx

# Rope project settings
.ropeproject

# mkdocs documenta
tion

/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# Coverage directory used by tools like istanbul
coverage
# PyCharm
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
#.idea/

/apps/supplier/migrations/0005_remove_contact_supplier_remove_quote_supplier_and_more.py
/.coverage
/media/products/2023/02/26/1_0clXds1.jpg
/media/products/2023/02/26/thumbnails/1_0clXds1.jpg_thumb.jpg
/media/products/2023/02/26/1_er9hiNK.jpg
/media/products/2023/02/26/thumbnails/1_er9hiNK.jpg_thumb.jpg
/media/products/2023/02/26/1_pwKIAXH.jpg
/media/products/2023/02/26/thumbnails/1_pwKIAXH.jpg_thumb.jpg
/media/products/2023/02/26/aurabig.jpeg
/media/products/2023/02/26/mango.jpg
/media/products/2023/02/26/thumbnails/mango.jpg_thumb.jpg
/static/img/no_image.png
/media/products/2023/02/26/ripper.jpg
/media/products/2023/02/26/thumbnails/ripper.jpg_thumb.jpg
/.env.example
/.idea/.gitignore
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/StockpilePro.iml
/test_output.txt
/.idea/vcs.xml
