{% extends 'base.html' %}

{% block content %}
 {% include 'Component/page_title.html' with tab1='Category Delete' tab2=category.category_name %}
<div class="container">
  <div class="columns is-centered">
    <div class="column is-half">
      <div class="box">
        <h2 class="title is-4 has-text-centered">Confirm deletion of "{{ category.category_name }}"</h2>
        <form method="post">
          {% csrf_token %}
          <p class="has-text-centered">Are you sure you want to delete this category?</p>
          <div class="buttons is-centered">
            <input type="submit" value="Delete" class="button is-danger">
            <a href="{% url 'product:category-detail' pk=category.pk %}" class="button is-light">Cancel</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
