{% extends 'base.html' %}

{% load static %}

{% block title%}Κατηγορίες {% endblock %}

{%block css %}
.custom-width {
    min-width:150px;
}
.columns {
  border-radius: 10px;
}
{% endblock%}

{% block content %}
    {% include 'Component/page_title.html' with tab1='Κατηγορίες' %}
<div class="card has-table has-mobile-sort-spaced">
          <header class="card-header ml-6">
              <div class="control">
                <a href="{% url 'product:category-create' %}" class="button is-success">Δημιουργία Kατηγορίας</a>
              </div>
          </header>
        </div>
    <div class="columns  mr-5 ml-5 has-background-dark is-rounded has-text-centered ">
      <div class="column is-3 has-text-danger has-text-weight-semibold ">Φαγωσιμα</div>
      <div class="column is-3 has-text-link has-text-weight-semibold">Ποτα</div>
      <div class="column is-3 has-text-success has-text-weight-semibold">Αναλώσιμα</div>
      <div class="column is-3 has-text-warning has-text-weight-semibold">Υπολοιπα</div>
    </div>

    <div class="tile is-ancestor mx-3">
        {% for c in categories %}
            {% if forloop.counter0|divisibleby:2 %}
                </div>
                <div class="tile is-ancestor mx-3">
            {% endif %}

            <div class="tile is-parent">
              <div class="card tile is-child has-background-dark">
                <div class="card-content">
                  <div class="level is-mobile">
                     <div class="level-left">
                        <div class="level-item has-text-left" style="width: 75%;">
                          <div class="is-widget-label">
                            <h3 class="subtitle is-spaced {{c.primary_colour}} custom-width">
                                   <a href="{% url 'product:category-update' c.id %}"
                                      class="{{c.primary_colour}}">
                                  <span class="icon {{c.primary_colour}} is-large">
                                      <i class="mdi {{c.icon}} mdi-36px"></i>
                                  </span>
                                    {{ c.category_name|truncatechars:25 }}
                                </a>


                            </h3>
                          </div>
                        </div>
                     </div>
                     <div class="level-right">
                        <div class="level-item has-widget-icon has-text-centered" style="width: 25%;">
                            <div class="is-widget-label">
                                <a href="{{ c.get_absolute_url }}" class="button is-info is-medium is-rounded  has-text-weight-bold">
                                        <span class="icon mr-4"><i class="mdi mdi-subtitles mdi-24px"></i></span>

                                {{ c.num_products }}
                                   </a>
                            </div>
                        </div>
                     </div>
                  </div>
                </div>
              </div>
            </div>
            {% if forloop.last and not forloop.counter0|divisibleby:3 %}
                </div>
            {% endif %}
        {%endfor%}
{% endblock %}
