{% extends 'base.html' %}

{% load static %}

{% block title%}Κατηγορίες {% endblock %}

{%block css %}
.custom-width {
    min-width:150px;
}
{% endblock%}

{% block content %}
    {% include 'Component/page_title.html' with tab1='Κατηγορια' tab2=category.category_name %}
    <div class="card has-table has-mobile-sort-spaced ml-6">
      <header class="card-header ml-6">
        <div class="control">
            <a href="{% url 'product:category-list' %}" class="button is-info mr-2">Πίσω</a>
          </div>
          <div class="control">
            <a href="{% url 'product:subcategory-create' category_id=category.id %}" class="button is-success mr-2">Δημιουργία Υποκατηγορίας</a>
          </div>
          <div class="control">
            <a href="{% url 'product:category-delete' category.pk%}" class="button is-danger">Διαγραφή</a>
          </div>
      </header>
    </div>

    {% for sub in subcategories %}
        <div class="tile is-ancestor my-1 px-5 mx-4">
            <div class="tile is-parent  ">
              <div class="card tile   is-child has-background-dark">
                <div class="card-content">
                  <div class="level is-mobile">
                    <div class="level-item">
                      <div class="is-widget-label ">
                        <h3 class="subtitle is-spaced has-text-white custom-width">
                         <a href="{{ sub.get_absolute_url }}" class="has-text-info">
                             {{sub.subcategory_name|truncatechars:25}}</a>
                        </h3>
                      </div>
                    </div>
                    <div class="level-item has-widget-icon">
                        <h1 class="title has-text-white">
                            {{ sub.num_products }}
                        </h1>
                        <div class="is-widget-icon">
                              <span class="icon {{category.primary_colour}} is-large"><i
                          class="mdi {{category.icon}} mdi-48px"></i></span>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
    {% empty %}

         <div style="display: flex; justify-content: center; height: 100%;">
                <div class="notification is-info">
                  Δεν υπάρχουν ακόμα Υποκατηγορίες σε αυτήν την Κατηγορία.
                </div>
              </div>

{%endfor%}
{% endblock %}
