{% extends 'base.html' %}

{% load static %}

{% block title%}Προιόντα Κατηγορίας {% endblock %}

{%block css %}

{% endblock%}

{% block content %}
    {% include 'Component/page_title.html' with tab1='Υποκατηγορία' tab2=subcategory %}
    <!-- Product Table Header-->
      <div class="card has-table has-mobile-sort-spaced">
        <header class="card-header">
          <p class="card-header-title">
            <span class="icon"><i class="mdi {{category.icon}}"></i></span>
                - Προιόντα: {{num_products}}
          </p>
          <div class="control pt-1">
            <a href="{{ category.get_absolute_url }}" class="button is-info mr-2">Πίσω</a>

            <a href="{% url 'product:subcategory-update' category_id=subcategory.category.id pk=subcategory.pk  %}"
               class="button is-warning">
                <span class="icon mr-4"><i class="mdi mdi-cogs mdi-24px"></i></span>
                Τροποποίηση
            </a>
          </div>
        </header>
      </div>

<div class="b-table has-pagination mx-3">

    <div class="table-wrapper has-mobile-cards">
      <table class="table is-fullwidth is-striped is-hoverable is-sortable is-fullwidth">
        <thead>
          <tr>
            <th>Προιoν</th>
            <th>SKU_num</th>
            <th>Διαθέσιμο</th>
            <th>Online</th>
            <th>Ενεργό</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for product in product_list %}
             <tr>
              <td data-label="Προιόν">{{product.product_name}} - {{product.package}}</td>
              <td data-label="SKU_num">{{product.sku_num}}</td>
                <td data-label="Διαθέσιμο">
                {% if product.available %}
                  <span class="icon has-text-success ">
                    <i class="mdi mdi-check-decagram "></i>
                  </span>
                {% else %}
                    <span class="icon has-text-danger ">
                      <i class="mdi mdi-cancel "></i>
                    </span>
                {% endif %}
              </td>
                <td data-label="Online">
                {% if product.online_sell %}
                  <span class="icon has-text-success ">
                    <i class="mdi mdi-check-decagram "></i>
                  </span>
                {% else %}
                    <span class="icon has-text-danger ">
                      <i class="mdi mdi-cancel "></i>
                    </span>
                {% endif %}
              </td>
              <td data-label="Ενεργό">
                {% if product.is_active %}
                  <span class="icon has-text-success ">
                    <i class="mdi mdi-check-decagram "></i>
                  </span>
                {% else %}
                    <span class="icon has-text-danger ">
                      <i class="mdi mdi-cancel "></i>
                    </span>
                {% endif %}
              </td>


              <td class="is-actions-cell">
                <div class="buttons is-right">
                    <a href="#"
                     class="button is-small is-success" type="button">
                    <span class="icon"><i class="mdi mdi-plus"></i></span>
                  </a>
                  <a href="{{ product.get_absolute_url }}"
                     class="button is-small is-info" type="button">
                    <span class="icon"><i class="mdi mdi-eye"></i></span>
                  </a>
                </div>
              </td>
             </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

  </div>
{% endblock %}
