{% extends 'base.html' %}

{% block title%}Invoice {{invoice.supplier.company}}-{{invoice.invoice_no}}{% endblock %}

{% block content %}

{% include 'Component/page_title.html' with tab1='Invoice Info' tab2=invoice %}
{% include 'invoice/components/card_header.html' %}
<div class="tile is-ancestor mx-5 has-background-dark">
    <!-- General Info-->
    <div class="tile is-parent">
      <div class="card tile is-child has-background-dark has-text-warning">
        <div class="card-content">
          <div class="level is-mobile">
            <div class="level-item">
              <div class="is-widget-label"><h3 class="subtitle is-spaced mb-2 ">
                  General
                  </h3>
                  <ul>
                    <li class="is-italic">Number</li>
                    <li class="mb-2" ><strong style="color:white;"> {{ invoice.invoice_no}}</strong></li>
                    <li class="is-italic">Supplier</li>
                    <li class="mb-2"> <strong style="color:white;">{{ invoice.supplier.company }}</strong></li>
                    <li class="is-italic">Issue Date</li>
                    <li class="mb-2 "> <strong style="color:white;">{{ invoice.date_of_issuance.date }}</strong></li>

                  </ul>

              </div>
            </div>
            <div class="level-item has-widget-icon">

                <div class="is-widget-icon ">
                    <ul>
                        <li class="mb-4">
                            <a class="button is-small is-success is-outlined "
                           href="{% url 'invoice:invoice-item-create' invoice.id %}">
                        <strong>Add Product</strong></a>
                        </li>
                        <li class="mb-4">
                            <a class="button is-small is-danger"
                           href="#">
                        Delete Invoice</a>
                        </li>
                        <li><small>Update</small></li>
                        <li class="mb-2 is-italic has-text-white"> <small>{{ invoice.updated_at }}</small></li>
                    </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Payment Info-->
    <div class="tile is-parent">
      <div class="card tile is-child has-background-warning">
        <div class="card-content">
          <div class="level is-mobile">
            <div class="level-item">
              <div class="is-widget-label "><h3 class="subtitle is-spaced mb-2 has-text-dark">
                Payment Info
              </h3>
                  <ul>
                    <li class="is-italic"><strong>Subtotal</strong></li>
                    <li class="mb-2"> {{invoice.subtotal }} &#x20AC;</li>
                    <li class="is-italic"><strong>Taxes</strong></li>
                    <li class="mb-2"> {{ invoice.total_taxes }} &#x20AC;</li>
                      <li class="is-italic"><strong>Total</strong></li>
                    <li class="mb-2"> {{ invoice.total }} &#x20AC;</li>
                  </ul>
              </div>
            </div>
            <div class="level-item has-widget-icon">
              <div class="is-widget-icon"><span class="icon has-text-dark is-large"><i
                  class="mdi mdi-wallet-outline mdi-48px"></i></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

  <div class="b-table has-pagination mx-6">
    <div class="table-wrapper has-mobile-cards">
      <table class="table is-fullwidth is-striped is-hoverable is-sortable is-fullwidth">
        <thead>
          <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Unit Price &#x20AC;</th>
            <th>Subtotal &#x20AC;</th>
            <th>Tax &#x20AC;</th>
            <th>Total &#x20AC;</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for item in invoice_items %}
            <tr>
              <td data-label="Product">{{item.product}}</td>
              <td data-label="Quantity">{{item.quantity}}</td>
              <td data-label="Unit Price"> {{item.unit_price}}</td>
              <td data-label="Subtotal">{{item.line_subtotal}}</td>
              <td data-label="Tax">{{item.total_tax}}</td>
              <td data-label="Total"> {{item.line_total}}</td>
              <td class="is-actions-cell">
                <div class="buttons is-right">
                  <a href="{{ item.get_absolute_url }}"
                     class="button is-small is-info" type="button">
                    <span class="icon"><i class="mdi mdi-eye"></i></span>
                  </a>
                </div>
              </td>
            </tr>
          {% empty %}
              <div style="display: flex; justify-content: center; height: 100%;">
                <div class="notification is-success">
                  No products available.
                </div>
              </div>
          {% endfor %}
        </tbody>
      </table>
    </div>

  </div>
{% endblock %}
