{% extends 'base.html' %}
{% load static %}
{% block title%}Invoices {% endblock %}
{% block css %}
    #search_term::-webkit-input-placeholder {
      color: black;
    }
    #search_term:-moz-placeholder {
      color: black;
    }

    #search_term::-moz-placeholder {
      color: black;
    }

    #search_term:-ms-input-placeholder {
      color: red;
    }

{% endblock %}
{% block content %}
  {% include 'Component/page_title.html' with tab1='Invoices' %}

  <!-- Product Header-->
  <div class="tile is-ancestor ml-3 mr-3 ">
    <div class="tile is-parent">
        <div class="card tile is-child has-background-dark">
          <div class="card-content">
            <div class="level is-mobile">
              <div class="level-item has-widget-icon">
                <div class="is-widget-icon">
                  <a href="{% url 'invoice:invoice-create' %}">
                    <span class="icon has-text-success is-large"><i
                    class="mdi mdi-plus-thick mdi-48px"></i></span>
                   </a>
                </div>
              </div>
              <div class="level-item">
                <div class="is-widget-label ">
                  <h3 class="subtitle is-spaced has-text-success">
                      Create
                  </h3>
                  <h3 class="subtitle is-spaced has-text-success">
                      Invoice
                  </h3>
                </div>
              </div>

            </div>
          </div>

        </div>
    </div>
      <div class="tile is-parent">
        <div class="card tile is-child">
          <div class="card-content has-background-dark ">
            <div class="level is-mobile">
              <div class="level-item ">
                <div class="is-widget-label "><h3 class="subtitle is-spaced has-text-warning">
                  Invoices
                </h3>
                  <h1 class="title has-text-danger">
                    {{ total_invoices }}
                  </h1>
                </div>
              </div>
              <div class="level-item has-widget-icon">
                <div class="is-widget-icon"><span class="icon has-text-warning is-large"><i
                    class="mdi mdi-briefcase-check mdi-48px"></i></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
  <!-- Product Table Header-->
  <div class="card has-table has-mobile-sort-spaced">
    <header class="card-header">
      <p class="card-header-title">
        <span class="icon"><i class="mdi mdi-briefcase-check"></i></span>
          Invoices
    </header>
  </div>
  <!-- Invoice Search-->
  <div class="card-content has-text-centered has-mobile">
    <form action="{% url 'invoice:invoice-search' %}" method="get" class="field is-grouped is-horizontal-mobile">
        <div class="control is-expanded ">
            <input class="input"  value="{{ query }}" name="q" id="q"
                   type="text" placeholder="Search for invoices..">
        </div>
        <div class="control">
            <button class="button is-info" type='submit'>
                <span>Search</span>
                <span class="icon has-text-light is-large">
                    <i class="mdi mdi-table-search"></i></span>
            </button>
        </div>
    </form>

  </div>
  <!-- Product Table-->
  {% if request.resolver_match.url_name == 'invoice-search' %}
    <div style="display: flex; justify-content: center; height: 100%;">
      <div class="notification is-success">
        {% if not invoices %}
          No invoice result for supplier: {{query}}.
        {% else %}
          Found {{invoices|length}} invoices of {{query}}.
        {% endif %}
      </div>
    </div>
  {% endif %}
<!--Table-->

  <div class="b-table has-pagination mx-4">
    <div class="table-wrapper has-mobile-cards">
      <table class="table is-fullwidth is-striped is-hoverable is-sortable is-fullwidth">
        <thead>
          <tr>
            <th>Invoice No.</th>
            <th>Issue Date</th>
            <th>Supplier</th>
            <th>Tax Code</th>

            <th>Total</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for invoice in invoices %}
            <tr>
              <td data-label="Invoice No.">{{ invoice.invoice_no }}</td>
              <td data-label="Issue Date">{{invoice.date_of_issuance.date}}</td>
              <td data-label="Supplier"> {{invoice.supplier.company}}</td>
              <td data-label="Tax Code"> {{ invoice.total_taxes}} &#x20AC;</td>
              <td data-label="Total"> {{ invoice.total }} &#x20AC;</td>


              <td class="is-actions-cell">
                <div class="buttons is-right">
                  <a href="{{ invoice.get_absolute_url }}"
                     class="button is-small is-info" type="button">
                    <span class="icon"><i class="mdi mdi-eye"></i></span>
                  </a>
                </div>
              </td>
            </tr>
          {% empty %}
            {% if request.resolver_match.url_name == 'invoice-list' %}
              <div style="display: flex; justify-content: center; height: 100%;">
                <div class="notification is-success">
                  No stored invoices yet.
                </div>
              </div>
            {% endif%}
          {% endfor %}
        </tbody>
      </table>
    </div>

  </div>
  <!--Pagination-->
  <div class="card-content">
    <div class="b-table has-pagination">
      <div class="notification">
        <div class="level">
          <div class="level-left">
            <div class="level-item">
              <div class="buttons has-addons">
                {% if paginator %}
                  {% for page in paginator.page_range %}
                    {% if page == page_obj.number %}
                      <a  href="?page={{ page }}" type="button" class="button is-active">{{page}}</a>
                    {% else %}
                      <a href="?page={{ page }}" type="button" class="button">{{ page }}</a>
                    {% endif %}
                  {% endfor %}
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
