{% extends 'base.html' %}
{% load static %}

{% block title%}Δημιουργία-Ανανέωση {% endblock %}

{% block bread %}
  {% include 'breadcrumb.html' with tab1='Προσθήκη' tab2='Προιόντος'%}
{% endblock %}

{% block content %}
    <div class="field has-text-center ml-5">
        <div class="control">
            <a href="{% url 'product:product-create' %}"
                     class="button is-link">Νέο Προιόν</a>
        </div>
    </div>
    {% include 'Component/form/form.html' %}

{% endblock %}
