<style>
  .menu {
  position: sticky;
  display: inline-block;
  vertical-align: top;
  max-height: 110vh;
  padding-bottom: 100px;

  overflow-y: auto;
  top: 0;
  bottom: 0;
}

.content {
  display: inline-block;
}
</style>
<aside class="aside is-placed-left is-expanded" >
  <!--Header-->
  <div class="aside-tools">
    <div class="aside-tools-label">
      <span><b>StockOps</b></span>
    </div>
  </div>

  <div class="menu is-menu-main">

      <p class="menu-label">Γενικα</p>
      <ul class="menu-list">
        <li>
          <a href="{% url 'index' %}"
             class="{% if request.resolver_match.url_name == 'index' %}is-active{% endif %} router-link-active has-icon">
            <span class="icon"><i class="mdi mdi-desktop-mac"></i></span>
            <span class="menu-item-label">Dashboard</span>
          </a>
        </li>
          <li>
          <a href="{% url 'index' %}"
             class="{% if request.resolver_match.url_name == 'index' %}is-active{% endif %} router-link-active has-icon">
            <span class="icon"><i class="mdi mdi-briefcase-check"></i></span>
            <span class="menu-item-label">Τιμολόγια</span>
          </a>
        </li>
           <li>
           <a href="{% url 'supplier:supplier-list' %}"
              class="{% if request.resolver_match.url_name == 'supplier-list' %}is-active{% endif %} router-link-active has-icon">
            <span class="icon"><i class="mdi mdi-account-multiple"></i></span>
            <span class="menu-item-label">Προμηθευτές</span>
          </a>
        </li>
          <li>
          <a href="{% url 'storehouse:storehouse-main' %}"
             class="has-icon {% if request.resolver_match.url_name == 'storehouse-main' %}is-active{% endif %}">
            <span class="icon has-mark"><i class="mdi mdi-store"></i></span>
            <span class="menu-item-label">Αποθήκες</span>
          </a>
        </li>
      </ul>


      <p class="menu-label">ΠΡΟΙΟΝΤΑ</p>
      <ul class="menu-list">
        <!--Προιόντα-->

          <li>
          <a href="{% url 'product:product-list' %}"
             class="{% if request.resolver_match.url_name == 'product-list' %}is-active{% endif %}router-link-active has-icon">
            <span class="icon"><i class="mdi mdi-table"></i></span>
            <span class="menu-item-label">Προιόντα</span>
          </a>
        </li>

        <li>
          <a href="{% url 'product:category-list'%}"
             class="{% if request.resolver_match.url_name == 'category-list' %}is-active{% endif %}router-link-active has-icon">
            <span class="icon"><i class="mdi mdi-label"></i></span>
            <span class="menu-item-label">Κατηγορίες</span>
          </a>
        </li>
      </ul>
      <p class="menu-label">About</p>
      <ul class="menu-list">
        <li>
          <a href="https://justboil.me/bulma-admin-template/free-html-dashboard/" class="has-icon">
            <span class="icon"><i class="mdi mdi-help-circle"></i></span>
            <span class="menu-item-label">About</span>
          </a>
        </li>
      </ul>

    </div>

</aside>
