{% load static %}
<footer class="footer">
  <div class="container">
    <div class="level">
      <div class="level-left">
        <div class="level-item">
          © 2023, steriospydev
        </div>
      </div>
      <div class="level-right">
        <div class="level-item">
          <div class="logo">
            <a href="#">
              <img src="{% static 'img/pythonicon.svg' %}" alt="steriospydev-logo-svg">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
