{% extends 'base.html' %}
{% load static %}

{% block title%}Create\Update{% endblock %}

{% block bread %}
    {% include 'breadcrumb.html' with tab1='Create\Update Product' tab2='-' %}
{% endblock %}

{% block content %}
    <div class="field has-text-center ml-5">
        <div class="control">
            <a href="{% url 'product:package-create' %}"
            class="button is-link mb-1">New Package</a>
            <a href="{% url 'product:tax-create' %}"
            class="button is-link ">New Tax Rate</a>
            <a href="{% url 'product:fullsub-create' %}"
            class="button is-link ">New Subcategory</a>
        </div>
    </div>
    {% include 'Component/form/form.html' %}

{% endblock %}
