{% extends 'base.html' %}
{% load static %}

{% block title%}Δημιουργία-Ανανέωση {% endblock %}

{% block bread %}
    {% include 'breadcrumb.html' with tab1='Δημιουργία-Ανανέωση Προιόντος' tab2='-' %}
{% endblock %}

{% block content %}
    <div class="field has-text-center ml-5">
        <div class="control">
            <a href="{% url 'product:package-create' %}"
            class="button is-link mb-1">Νεα Συσκευασια</a>
            <a href="{% url 'product:tax-create' %}"
            class="button is-link ">Νεος Φόρος</a>
            <a href="{% url 'product:fullsub-create' %}"
            class="button is-link ">Νεα Υποκατηγορία</a>
        </div>
    </div>
    {% include 'Component/form/form.html' %}

{% endblock %}
