{% extends 'base.html' %}

{% block title%}Product {{product.product_name}}{% endblock %}

{% block content %}

{% include 'Component/page_title.html' with tab1='Product Info' tab2=product.product_name %}
{% include 'product/components/card_header.html' %}

<div class="tile is-ancestor ml-2">
    <!-- General Info-->
    <div class="tile is-parent">
      <div class="card tile is-child">
        <div class="card-content">
          <div class="level is-mobile">
            <div class="level-item">
              <div class="is-widget-label">
                  <h3 class="subtitle is-spaced mb-2">
                    <strong class="has-text-danger">General</strong>
                  </h3>
                  <ul>
                    <li class="is-italic">Product</li>
                    <li class="mb-2"><strong> {{ product.product_name}}</strong></li>
                    <li class="is-italic">Active/Available/Online</li>
                    <li class="mb-2">
                        {% if product.is_active %}
                            <span class="icon has-text-success "><i class="mdi mdi-check-decagram "></i></span>
                        {% else %}
                            <span class="icon has-text-danger "><i class="mdi mdi-cancel "></i></span>
                        {% endif %}
                        {% if product.available %}
                            <span class="icon has-text-success "><i class="mdi mdi-check-decagram "></i></span>
                        {% else %}
                            <span class="icon has-text-danger "><i class="mdi mdi-cancel "></i></span>
                        {% endif %}
                        {% if product.online_sell %}
                            <span class="icon has-text-success "><i class="mdi mdi-check-decagram "></i></span>
                        {% else %}
                            <span class="icon has-text-danger "><i class="mdi mdi-cancel "></i></span>
                        {% endif %}
                    </li>
                    <li class="is-italic">SKU Number</li>
                    <li class="mb-2"> <strong>{{ product.sku_num }}</strong></li>
                    <li><a class="button is-small is-danger is-outlined"
                           href="{% url 'product:product-update' product.id %}">
                        Update</a>
                    </li>
                  </ul>
              </div>
            </div>
            <div class="level-item has-widget-icon">
                <div class="is-widget-icon">
                  <span class="icon has-text-danger is-large"><i
                  class="mdi mdi-note-text mdi-48px"></i></span>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Buy Info-->
    <div class="tile is-parent">
        <div class="card tile is-child">
          <div class="card-content">
            <div class="level is-mobile">
              <div class="level-item">
                <div class="is-widget-label"><h3 class="subtitle is-spaced mb-2">
                  <strong class="has-text-dark">Invoice Data</strong>
                </h3>
                    <ul>
                      <li class="is-italic">Overall Quantity</li>
                      <li class="mb-2"><strong> {{invoice_report.total_quantity}}</strong></li>
                      <li class="is-italic"></li>
                      <li class="is-italic">Overall Taxes</li>
                      <li class="mb-2"> <strong>{{invoice_report.total_taxes}} &#x20AC;</strong></li>
                      <li class="is-italic">Overall Total</li>
                      <li class="mb-2"> <strong>{{invoice_report.total_value}} &#x20AC;</strong></li>
                      <li class="is-italic">Invoice Presence</li>
                      <li class="mb-2"> <strong>{{invoice_report.no_of_invoices}}</strong></li>
                    </ul>
                </div>
              </div>
              <div class="level-item has-widget-icon">
                <div class="is-widget-icon">
                    <span class="icon has-text-dark is-large"><i
                    class="mdi mdi-wallet-outline mdi-48px"></i></span>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>

</div>

<div class="tile is-ancestor ml-2">
  <!-- rest Info-->
  <div class="tile is-parent">
    <div class="card tile is-child">
      <div class="card-content">
        <div class="level is-mobile">
          <div class="level-item">
            <div class="is-widget-label"><h3 class="subtitle is-spaced mb-2">
              <strong class="has-text-info">More Info</strong>
            </h3>
                <ul>
                  <li class="is-italic">In Stock</li>
                  <li class="mb-2"><strong> 43</strong></li>
                  <li class="is-italic"></li>
                  <li class="is-italic">Last Invoice</li>
                  <li class="mb-2"> <strong>March 2, 2023, 7:55 p.m.</strong></li>
                  <li class="is-italic">Last Withdraw</li>
                  <li class="mb-2"> <strong>March 7, 2023, 11:55 p.m.</strong></li>
                </ul>
            </div>
          </div>
          <div class="level-item has-widget-icon">
            <div class="is-widget-icon">
                <span class="icon has-text-info is-large">
                    <i class="mdi mdi-information-outline mdi-48px"></i>
                </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    <!-- Features-->
    <div class="tile is-parent">
      <div class="card tile is-child">
        <div class="card-content">
          <div class="level is-mobile">
            <div class="level-item">
              <div class="is-widget-label "><h3 class="subtitle is-spaced mb-2">
                <strong class="has-text-link">Identification Info</strong>
              </h3>
                  <ul>
                    <li class="is-italic">Category</li>
                    <li class="mb-2"><strong> {{product.subcategory.category }}</strong></li>
                    <li class="is-italic">SubCategory</li>
                    <li class="mb-2"> <strong>{{ product.subcategory }}</strong></li>
                      <li class="is-italic">Package</li>
                    <li class="mb-2"><strong> {{ product.package }}</strong></li>

                    <li class="is-italic">Tax Rate</li>
                    <li class="mb-2"> <strong>{{ product.tax_rate }} %</strong></li>
                  </ul>
              </div>
            </div>
            <div class="level-item has-widget-icon">
              <div class="is-widget-icon"><span class="icon has-text-link is-large"><i
                  class="mdi mdi-label-multiple mdi-48px"></i></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

</div>
{% endblock %}
