{% extends 'base.html' %}
{% load static %}

{% block title%}New Package{% endblock %}

{% block bread %}
     {% include 'Component/page_title.html' with tab1='Create' tab2='Package' %}
{% endblock %}

{% block content %}
    <div class="field has-text-center ml-5">
        <div class="control">
            <a href="{% url 'product:material-create' %}"
                     class="button is-link">New Material</a>
        </div>
    </div>
    {% include 'Component/form/form.html' %}
{% endblock %}
