{% extends 'base.html' %}
{% load static %}

{% block title%}Δημιουργία Υποκατηγορίας{% endblock %}

{% block bread %}
       {% include 'breadcrumb.html' with tab1='Δημιουργία' tab2='Υποκατηγορία' %}
{% endblock %}

{% block content %}
    <div class="field has-text-center ml-5">
        <div class="control">
            <a href="{% url 'product:category-create' %}"
            class="button is-link ">Νεα Κατηγορία</a>
        </div>
    </div>
    {% include 'Component/form/form.html' %}
{% endblock %}
